/* THEME COLORS */

.dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --accent-color: #d3b306;
    --text-infocard: #23232e;
    --bg-infocard: var(--accent-color);
    --logo-color: var(--accent-color);
  }
  
  .light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
    --accent-color: #5900ff;
    --text-infocard: #b6b6b6;
    --bg-infocard: var(--accent-color);
    --logo-color: var(--accent-color);
  }