

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Anta', sans-serif;
  transition: var(--transition-speed);
}

html {
  overflow-x: hidden;
}

/* Custom scrollbar for WebKit browsers */
html::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar {
  width: 0;
}

html::-webkit-scrollbar-thumb {
  background-color: #888;
}

html::-webkit-scrollbar-track {
  background-color: #eee;
}

html {
  padding-bottom: 21%;
  height: 100%;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  
}

body {
  padding-bottom: 12vmax;

  background: var(--bg-secondary);
}




 


.podcast {
  background-color: var(--bg-secondary);
  justify-content: center;
  align-items: center;
  position: center;
  padding-top: 120px;
  padding-inline: 10vw;
}

.podcast-container {
  padding: 10%;
  background-color: var(--bg-secondary);
  position: center;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}


.logo {
  color: #000;
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
}

.header {
  background-color: var(--bg-secondary);

}

footer {
  text-align: center;
  color: var(--text-secondary);
  background-color: var(--bg-secondary);
  padding: 3rem;
}
.branding {
  left: 93%;
  width: 200px;
  height: 200px;
  position: absolute;
  fill: var(--logo-color);
  transform: translateX(-100%);
  stroke: var(--accent-color-2);
  stroke-width: 1rem;
 
}

.nav-img {
  width: 40px;
  height: 40px;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: scroll;
  z-index: 1000;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--nav-bg);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}


.nav-link img {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}


.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text {
  display: inline;
  color: var(--logo-color);
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 768px) {

  .header {
    padding-bottom: 100px;
    width: 100vw;
  }
  .branding {
    top: 85px;
    left: 50%;
    width: 100px;
    height: 100px;
    position: center;
    fill: var(--logo-color);
    transform: translateX(-50%);
  }

  .navbar {
    top: 0;
    width: 100%;
    height: 5rem;
    position: fixed;
    z-index: 1000;
    
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
    scale: 80%;
    margin: inherit;
  }

  .nav-link {
    justify-content: center;
  }


  .hero-container {
    padding-top: 100px;
  }

  .hero {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  body {
    padding-bottom: 12vmax;

    background: var(--bg-secondary);
  }

  .podcast {
    background-color: var(--bg-secondary);
    justify-content: center;
    align-items: center;
    position: center;
    padding-top: 3vh;
    padding-inline: 3vw;
  }
}

/* Large screens */
@media only screen and (min-width: 768px) {

  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }


  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }

  .hero {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    display: grid;
    margin-left: 5rem;
    padding: 2rem;
  }
}



.theme-icon {
  display: none;
}

.dark #solarIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}



.hero {
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
  display: grid;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: var(--bg-secondary);
}

.column-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0rem 2rem;
}


.column-left h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
}

.column-left p {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
}


.column-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem;
}

.hero-image {
  scale: 200%;
  padding: 2px;
  background-color: #3700ff;
}

@media screen and (max-width: 768px) {
  .hero-container {
    grid-template-columns: 1fr;
  }
}

